body {
    margin: 0px;
    padding: 0px;
    height: 3000px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.ul-tag {
    margin: 0px;
    padding: 0px;
}

.header {
    position: fixed;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    padding-right: 40px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
}

#header a:hover {
    color: #3D3D3D;
}

#header a {
    float: right;
    text-align: right;
    padding: 18px 22px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins';
    color: black;
    text-decoration: none;
}

#header img {
    padding-top: 5px;
    padding-left: 20px;
    width: 100px;
    height: 60px
}