body {
    margin: 0px !important;
    padding: 0px !important;
    background-image: url('../assets/tickets-backgroound-image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 100px;
}

img {
    width: 100%;
    /* height: 50%; */
}

.container {
    position: relative;
    text-align: center;
}

.top-left {
    position: absolute;
    top: 100px;
    left: 120px;
    font-size: 60px;
    font-family: 'Poppins';
    color: white;
    font-weight: 700;
}

.match-card {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #D6D6D6;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 500px;
}

.card-topic {
    font-size: 40px;
    padding-top: 40px;
    margin-left: 70px;
    margin-bottom: 10px;
    /* font-size: 60px;  */
    font-family: 'Poppins';
    font-weight: 600;
}

.card-text {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 70px;
    /* font-size: 60px;  */
    font-family: 'Poppins';
    font-weight: 500;
}

.select-price {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 70px;
    margin-top: 10px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 25px;
    border-width: 0px;
}

.select-qty {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 70px;
    margin-top: 20px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 25px;
    border-width: 0px;
}

.buy-tickets {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
    margin-top: 30px;
    margin-left: 70px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    border-width: 0px;
    background-color: #4DA4E8;
    color: white;
    outline-width: 0px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

.buy-tickets:hover{
    background-color: #2898EF;
}

/** Header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.ul-tag {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: white;
    z-index: 1000;
    position: fixed;
    width: 100%;
    margin: 0px !important;
    padding: 0px !important;
    padding-right: 40px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
}

#header a:hover {
    color: #3D3D3D;
}

#header a {
    float: right;
    text-align: right;
    padding: 18px 22px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Poppins';
    color: black;
    text-decoration: none;
}

#header img {
    padding-top: 5px;
    padding-left: 20px;
    width: 100px;
    height: 60px
}